extends layout

block content
  div.navbar.navbar-default.navbar-fixed-top(id="navigation")
    div.container
      div.navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") <b>#{title}</b>
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a.smoothscroll(href="#home") Home
          li
            a.smoothscroll(href="#desc") Description
          li
            a.smoothscroll(href="#contact") Contact

  <section id = "home" name = "home"></section>
  div(id="headwrap")
    div.container
      div.row.centered
        div.col-lg-12
          h1 Bienvenue sur <b>#{title}</b>
          h3 Déployez facilement et rapidement vos applications
          br
        div.col-lg-12
          img.img-responsive(src="http://cdn.slidesharecdn.com/ss_thumbnails/why-docker2bisv4-130725202710-phpapp01-thumbnail-4.jpg?1374861244")

  <section id = "desc" name = "desc"></section>
  div(id="intro")
    div.container
      div.row.centered
        h1 Déploiement en toute simplicité

