extends layout

block content
  div.navbar.navbar-default.navbar-fixed-top(id="navigation")
    div.container
      div.navbar-header
        button.navbar-toggle(type="button",data-toggle="collapse", data-target=".navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") <b>#{title}</b>
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a.smoothscroll(href="#home") Accueil
          li
            a.smoothscroll(href="#desc") Description
          li
            a.smoothscroll(href="#contact") Contact

  <section id = "home" name = "home"></section>
  div(id="headerwrap")
    div.container
      div.row.centered
        div.col-lg-12
          h1 Bienvenue sur <b>#{title}</b>
          h3 Déployez facilement et rapidement vos applications
          br
        div.col-lg-2
        div.col-lg-8
          img.img-responsive.centered(src="/images/paas.gif")
        div.col-lg-2
  <section id = "desc" name = "desc"></section>
  div(id="intro")
    div.container
      div.row.centered
        h1 Déploiement en toute simplicité
        br
        br
      div.col-lg-4.centered
        img.centered.ppadding(src="/images/git.png")
        br
        h3 Préparez votre projet
        p
      div.col-lg-4.centered
        img.centered(src="/images/up.png")
        h3 Envoyez votre projet
        p
      div.col-lg-4.centered
        img.centered(src="/images/paas.png")
        h3 Laissez le PaaS faire le reste
        p
    br
    hr
  div(id="features")
    div.container
      div.container
        div.row
          h1.centered Technologies supportées
          br
          br
          div.col-lg-3.centered
            img.centered(src="/images/prog-rails.png")
            h4 Ruby on Rails
          div.col-lg-3.centered
            img.centered(src="/images/prog-php02.png")
            h4 PHP
          div.col-lg-3.centered
            img.centered(src="/images/prog-python.png")
            h4 Python
          div.col-lg-3.centered
            img.centered(src="/images/prog-nodejs01.png")
            h4 NodeJS
          br
          div.col-lg-3.centered
            img.centered(src="/images/prog-django.png")
            h4 Django
          div.col-lg-3.centered
            img.centered(src="/images/google.png")
            h4 Google Go

  <section id="contact" name="contact"></section>
  div(id="footerwrap")
    div.container
      div.col-lg-5
        h3 Contact
        br
        p En cas de problème avec ares-paas.eu, veuillez <a href="https://github.com/ares-ensiie/about-ares-paas/issues/new">ouvrir une issue</a> ou nous contacter sur #ares.
        br
        br
        p Mailing list
        a(href='mailto:ares@ares-ensiie.eu') ares@ares-ensiie.eu
